<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Trackr</title>
</head>
<body>
    <img class="logo-img" src="/images/Billtrackr-logo/cover.png" alt="">
    <section class="login-and-signup-section">
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    </section>
</body>
</html>