<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Bill Trackr</title>
</head>
<body>
    <img class="logo-img" src="/images/Billtrackr-logo/cover.png" alt="">

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form class="sigin-form" action="/login" class='login-form' method="POST">
        <section class="form-text">
            <h1>Welcome back!</h1>
            <p>Login to continue using Billtrackr</p>
        </section>
        <input type="email" name="email" placeholder="Enter email">
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit" class="login-button">Login</button>
    </form>

    <a class="login-signup-btn" href="/signup">Don't have an account? Sign up here!</a>
</body>
</html>