body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

html,body {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #48B68D;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

  
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

h1 {
    font-size: 20px;
    margin: 0px;
    color: #146b43;
}

/* Index start */

.logo-img {
    width: 500px;
}

.login-and-signup-section {
    display: flex;
    gap: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* Index end */

/* login start */

.login-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

input, .login-button, .signup-button {
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 20px;
}

select {
    border-radius: 3px;
    padding: 5px;
}

.login-button, .signup-button {
    background-color: #c1c7ce;
}

.login-button:hover, .signup-button:hover{
    cursor: pointer;
    background-color: #99a3ae;
  }

.login-signup-btn {
    margin-top: 30px;
    font-size: 15px;
    margin: 20px;
}
/* Login end */

/* Signup start */

.signup-form, .sigin-form, .bill-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    width: 60%;
}

.signup-form input, .sigin-form input {
    border: 1px solid gray;
    padding: 5px;
}

.form-text {
    gap:0px;
    margin: 0px;
}


/* Signup end */

/* Nav Start */
nav {
    background-color: #48B68D;
    display:flex;
    width: 100%;
    padding: 1%;
    justify-content: space-around;
    align-items: center;
}

.unpaid-btn, .logout-btn, .submit-btn {
    background: #146b43;
    color: white;
    border-radius: 10px;
    padding: 10px;
    height: 50%;
    font-size: 1rem;
}

.unpaid-btn:hover, .logout-btn:hover, .submit-btn:hover {
    background-color: #15352a;
}

nav img {
    height: 75px;
}

/* Nav End */

.num-bills {
    color: #146b43;
    margin-top: 25px;
    font-size: 2rem;
}

h3 {
    color: #274a55;
}
.date-input {
    font-family: inherit;
}

/* my bills start */

.bills-section {
    display: flex;
    justify-content: space-between;
    gap:100px;
    margin-top: 35px;
}

h2 {
    font-size: 25px;
    margin: 0px;
    color: #146b43;
}

ul {
    list-style-type: none;
    padding: 0;
    }



.add-bill-form input{
    font-size: 15px;
}

/* my bills end */

/* bill list */

.bill-list li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.bill-list li span{
    width: 100px;
    padding: 7px;
    text-align: center;
}

.billItem {
    margin: 1% 0;
}

.billItem span {
    font-size: .75rem;
}




/* paid bills start */

 .paid-bills-section {
     display: flex;
    justify-content: center;
    width: 80%;
}

.paid-bills {
    width: 80%;

}
/* paid bills end */


/* media queries start */
/* media queries for outstanding bills start */
@media (max-width: 1000px) { 

    body * {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bill-list {
        width: 70%;
        padding: 25px;
    }

    .bill-headings span {
        display: none;
    }

    .billItem {
        width: 140%;
        -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
        -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }
 }

 /* media queries for outstanding bills end */


 /* media queries for paid bills start */
 @media (max-width: 1000px) { 
    .paid-bills .billItem {
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    width: 140%;



    }
    .paid-bills-heading span {
        display: none;
    }

 }

  /* media queries for paid bills end */

  /* login and signup media queries start */

  @media (max-width: 1000px) { 
  .logo-img {
      width: 250px;
      padding: 20px;
  }

  .unpaid-btn, .logout-btn, .submit-btn, .login-button, .signup-button {
    padding: 10px;
}



}


    /* login and signup media queries end */


/* media queries end */